
<section class="section">
  <div class="container">
    <h2 class="title is-2">My Account</h2>

    <figure class="image is-128x128">
      <img class="is-rounded" src="<%= locals.currentUser.profileImage %>">
    </figure>


    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Name:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <p class="input is-static"><%= user.name %></p>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Email:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <p class="input is-static"><%= user.email %></p>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Admin:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <p class="input is-static"><%= user.admin %></p>
          </p>
        </div>
      </div>
    </div>

    <% if (locals.isAuthenticated && (locals.currentUser._id.equals(user._id) || locals.currentUser.admin)) { %>

      <div class="field is-horizontal">
        <a class="button is-primary" href="/users/<%= user._id %>/edit">Edit account</a>
        <form class="" action="/users/<%= user._id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button is-danger" name="button">Remove account</button>
        </form>
      </div>
    <% } %>


    <% user.articles.forEach(article => { %>

      <a href="/articles/<%= article._id %>">
        <div class="box<% if (!article.published){ %> unpublished<% } %>">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="<%= article.image %>" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%= article.title %></strong> <small>Written by <%= 'default author'  %></small> <small><%= article.readingTime %> min read</small>
                  <br>
                  <%= article.subtitle %>
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="reply">
                    <span class="icon is-small">
                      <i class="fas fa-reply" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="retweet">
                    <span class="icon is-small">
                      <i class="fas fa-retweet" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </div>
      </a>
    <% }) %>



  </div>
</section>
