<h1>User profile Page</h1>

<img src="<%= user.image %>" alt="">
 <p>Name: <%= user.name %></p>
 <p>Email: <%= user.email %></p>
 <p></p>

 <% if (locals.isAuthenticated && locals.currentUser._id.equals(user._id)) { %>

   <a href="/user/<%= user._id %>/edit">Edit account</a>
   <form class="" action="/user/<%= user._id %>" method="post">
     <input type="hidden" name="_method" value="DELETE">
     <button name="button">Remove account</button>
   </form>
 <% } %>
