<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog Site</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <a class="navbar-item" href="/articles">
            Articles
          </a>
        </div>

        <div class="navbar-end">
          <% if (locals.isAuthenticated && locals.currentUser.admin) { %>
            <a class="navbar-item" href="/users/">All Users</a>
          <% } %>

          <% if (locals.isAuthenticated) { %>

            <a class="navbar-item" href="/users/<%= locals.currentUser._id %>">My account</a>
            <a class="navbar-item" href="/logout">Log out</a>
            <a class="navbar-item" href="/articles/new">Add an article</a>
          <% } else { %>
            <a class="navbar-item" href="/login">Login</a>
            <a class="navbar-item" href="/register">Get Started</a>
          <% } %>
        </div>


      </div>








    
    </nav>




    <form method="GET" action="/articles">
      <div class="field has-addons">
        <!-- <div class="control is-rounded"> -->
          <input class="input is-rounded is-large" name="search" type="text" placeholder="Search" value="<%= locals.search %>">
        <!-- </div> -->

      </div>
    </form>



    <h1>LAYOUT PAGE</h1>

    <% for (const type in messages) { %>
    <p class="notification <%= type %>"><%= messages[type] %></p>
    <% } %>

    <main>
      <%- body %>
    </main>

  </body>
</html>
