<h1>New Article Page</h1>

<form class="" action="/articles/<%= article._id %>" method="post">

  <input type="hidden" name="_method" value="PUT">

  <div class="">
    <label for="title"></label>
    <input type="text" id="title" name="title" value="<%= article.title %>" required>
  </div>

  <div class="">
    <label for="subtitle"></label>
    <input type="text" id="subtitle" name="subtitle" value="<%= article.subtitle %>" required>
  </div>

  <div class="">
    <label for="image"></label>
    <input type="text" id="image" name="image" value="<%= article.image %>" >
  </div>

  <div class="">
    <label for="text"></label>
    <textarea id="text" name="text"><%= article.text %></textarea>
  </div>

  <div class="">
    <label for="blockQuote"></label>
    <input type="text" id="blockQuote" name="blockQuote" value="<%= article.blockQuote %>">
  </div>

  <div class="">
    <label for="readingTime"></label>
    <input type="number" min="1" max="60" id="readingTime" name="readingTime" value="<%= article.readingTime %>" required>
  </div>

  <div class="">
    <input type="radio" id="published" name="published" value="true"> Published<br>
    <input type="radio" id="published" name="published" value="false"> Unpublished<br>
  </div>

  <button name="button">Submit</button>

</form>
