<h1>Index page</h1>


<% locals.articles.forEach(article => { %>

  <div class="">
    <a href="/articles/<%= article._id %>">
      <img src="<%= article.image %>" alt="">
      <h4><%= article.title %></h4>
      <h5>Written by <%= article.author %></h5>
      <h5><%= article.subtitle %></h5>
      <p><%= article.readingTime %> min read</p>
    </a>
  </div>

<% }) %>
