<h1>Show page</h1>


  <div class="">
    <img src="<%= article.image %>" alt="">
    <h4><%= article.title %></h4>
    <h5>Written by <%= article.author %></h5>
    <h5><%= article.subtitle %></h5>
    <p><%= article.readingTime %> min read</p>
    <p><%= article.text %> THE END</p>

    <a href="/articles/<%= article._id %>/edit">Edit article</a>

  </div>
