<h1>Show page</h1>


  <div class="">
    <img src="<%= article.image %>" alt="">
    <h4><%= article.title %></h4>
    <h5>Written by <%= 'default author' %></h5>
    <h5><%= article.subtitle %></h5>
    <p><%= article.readingTime %> min read</p>
    <p><%= article.text %> THE END</p>

    <p><%= article.published %></p>

    <div class="comments">
      <% article.comments.forEach( comment => {%>
        <p><%= comment.user.name %></p>
        <p><%= comment.content %></p>
      <% }); %>
    </div>

    <form class="" action="/articles/<%= article._id %>/comments" method="post">
      <label class="comment">Comment</label>
      <input class="text" id="comment" name="content" placeholder="Comment (max 280 characters)"/>
      <button>Submit comment</button>
    </form>

    <% if (locals.isAuthenticated && article.user && locals.currentUser._id.equals(article.user._id)) { %>

      <a href="/articles/<%= article._id %>/edit">Edit article</a>
      <form class="" action="/articles/<%= article._id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button name="button">Remove article</button>
      </form>
    <% } %>


  </div>
